<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let day of days">
    <ion-card-header (click)="showMenu(day)">
      <ion-card-title>{{ day }}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="selectedDay === day">
      <ion-card *ngFor="let m of getMenuForDay(day)">
        <ion-card-content>
          <h2></h2>
          <br>
          <div *ngFor="let item of getMenuItems(day, m)">
            <span [innerHTML]="item.replace('Desayuno:', '<strong>Desayuno:</strong>').replace('Media mañana:', '<strong>Media mañana:</strong>').replace('Almuerzo:', '<strong>Almuerzo:</strong>').replace('Merienda:', '<strong>Merienda:</strong>').replace('Cena:', '<strong>Cena:</strong>')"></span>
          </div>
          
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
