<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menúes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let day of days" (click)="showMeals(day)">
    <ion-card-header>
      <ion-card-title>{{ day }}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="selectedDay === day">
      <ion-list>
        <ion-item *ngFor="let meal of meals">
          <ion-label>{{ meal }}</ion-label>
          <!-- Agregar información para cada comida -->
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
