<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alimentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="selectedCategory" (ionChange)="onCategoryChange($event)" scrollable>
    <ion-segment-button value="almidones">
      Almidones
    </ion-segment-button>
    <ion-segment-button value="dulces">
      Dulces
    </ion-segment-button>
    <ion-segment-button value="frutas">
      Frutas
    </ion-segment-button>
    <ion-segment-button value="lacteos">
      Lácteos
    </ion-segment-button>
    <ion-segment-button value="otros">
      Otros
    </ion-segment-button>
  </ion-segment>
  

  <ion-searchbar (ionInput)="searchFood($event)" placeholder="Buscar alimentos"></ion-searchbar>

  <ion-card *ngFor="let food of searchResults" class="custom-card">
    <ion-card-header (click)="showDetails(food)">
      <ion-card-title>{{ food.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="selectedFood === food">
      <p class="larger-text">{{ food.tamPorcion }}</p>
      <p class="larger-text"> {{ food.carbs }} Carbs</p>
      <!-- Agregar más detalles sobre el alimento si es necesario -->
    </ion-card-content>
  </ion-card>
  
  <ion-card *ngIf="searchResults.length === 0">
    <ion-card-content>
      No se encontraron resultados.
    </ion-card-content>
  </ion-card>
</ion-content>
